body {
	color:#606060;
	font-family:"Lucida Grande",Tahoma,Helvetica,sans-serif;
	font-size:0.8em;
	margin:0px;
	padding:0px;
}

h1 { font-size:1.8em; }
h2 { font-size:1.6em; }
h3 { font-size:1.4em; }
h4 { font-size:1.2em; }
h5 { font-size:1em; }
h6 { font-size:0.8em; }

h1, h3 {
	color:#404040;
	display:block;
}

h3 {
	border-bottom:1px solid #dedede;
}

a {
	color:#842020;
}

h2 {
	background-color:#606060;
	color:#fafafa;
	margin-top:0px;
	padding:0.3em;
}

p.uri, code {
	font-family:monospace;
	font-size:1.2em;
}

dl {
	margin:0px;
	padding:0px;
}

dt {
	margin:0.4em 0em 0.4em 0em;
}

div#wrap {
	margin:1em;
}

div.apiMethod {
	padding:0.8em 0em 0.2em 0em;
	margin:1em 0em 2em 0em;
}

div#toc table {
	margin-bottom:1.5em;
}

/********* parameter table **********/

table {
	width:100%;
}

table caption {
	border-bottom:1px solid #dedede;
	color:#404040;
	font-size:1.1em;
	font-weight:bold;
	margin:0.5em 0em 0em 0em;
	text-align:left;
}

tr.odd {
	background-color:#f7f7f7;
}

table th {
	background-color:#e0e0e0;
	padding:0.3em;
	text-align:left;
}

table td {
	padding:0.3em;
}

table ul {
	list-style-type:square;
	margin:0.2em 0em 0.2em 1.2em;
	padding:0px;
}
