body {
	background-color:#303030;
	font-family:Helvetica, Arial, sans-serif;
	font-size:0.8em;
	letter-spacing:0.04em;
	margin:0em;
	padding:0em;
}

a {
	color:#c0c0d0;
	text-decoration:none;
}

a:hover {
	color:#f0f0ff;
	text-decoration:underline;
}

h2 { margin:0em 0em 0.7em 0em }
h4, h5, h6 { margin:1em 0em 1em 0em }
h1 { font-size:1.5em; font-family:"Trebuchet MS", Tahoma, sans-serif; }
h2 { font-size:1.35em; font-family:"Trebuchet MS", Tahoma, sans-serif; }
h3 { font-size:1.2em; font-family:"Trebuchet MS", Tahoma, sans-serif; }
h4 { font-size:1em; font-family:"Trebuchet MS", Tahoma, sans-serif; }
h5 { font-size:0.9em; font-family:"Trebuchet MS", Tahoma, sans-serif; }
h6 { font-size:0.9em; font-family:"Trebuchet MS", Tahoma, sans-serif; }
p { line-height:1.3em; }
p.help { font-size:11px; margin-top:0.4em;}

h1 {
	background-color:#808080;
	margin:0em 0em 0em 170px;
	padding:0.3em;
}

h3 {
	background-color:#404040;
	padding:0.3em;
}

code {
	color:#ffe0e0;
	font-size:1em
}

fieldset {
	border:0px;
	margin:0px;
	padding:0px;
}

fieldset legend {
	font-family:"Trebuchet MS", Tahoma, sans-serif;
	font-weight:bold;
	font-size:1em;
	margin:0em 0em 0.3em 0.5em;
}


input[type=submit], input[type=button] {
	background-color:#404040;
	border-top:1px solid #a0a0a0;
	border-right:1px solid black;
	border-left:1px solid #a0a0a0;
	border-bottom:1px solid black;
	color:#f0f0f0;
	font-family:"Trebuchet MS", Tahoma, sans-serif;
	margin:0em 0.5em 0.5em 0.5em;
}

input[type=text], input[type=password], textarea, select {
	background-color:#404040;
	border:1px solid #a0a0a0;
	color:#f0f0f0;
	padding:0.15em;
}

h4 { margin:0.2em; padding:0px }

pre {
	margin:0px;
}

ul {
	margin:0px 0px 0px 1.5em;
	padding:0px;
}

div#wrap {
	background-color:#606060;
	color:#f0f0f0;
	margin:0 auto;
	width:92%;
}

p.dmFlash {
	background-color:#404040;
	color:#f0f0f0;
	font-weight:normal;
	margin:0em 0em 1em 0em;
	padding:0.4em;
	font-size:0.9em;
}

p.dmFlash.dmSuccess {
	border:1px dotted green;
}

p.dmFlash.dmFailure {
	border:1px dotted red;
}

p.dmFlash.dmNeutral {
	border:1px dotted blue;
}

div#content {
	margin-left:170px;
}

div#content, div#error {
	padding:0.8em;
}

input.cqr {
	font-size:1.1em;
}

div.codeExample {
	margin-bottom:1em;
	padding:1em;
}

.positive {
	color:#00c000;
}

.negative {
	color:red;
}

.dmInvalid {
	background-color:#800000;
}

div.dmFormField {
	padding:0.2em;
}

label#addViewerDefinitionLabel {
	cursor:pointer;
}

/****************************** object view ******************************/

.comment dt {
	font-weight:bold;
	float:left;
	padding-right:1em;
	text-align:right;
	width:6em;
}

.comment dd { margin-left:6em; }

dl.metadata {
	border-top:1px dotted #a0a0a0;
	border-bottom:1px dotted #a0a0a0;
	padding:1em 0em 1em 0em;
}
dl.metadata dt { font-size:0.9em; font-weight:bold; line-height:2em; }
dl.metadata dd { color:#e0e0e0; font-size:0.9em; margin-left:1.2em }


/******************************* news ********************************/

div.dmNews {
	border-top:1px dotted #b0b0b0;
	border-bottom:1px dotted #b0b0b0;
	margin-bottom:1.5em;
	font-size:0.9em;
	line-height:1.5em;
	padding:0.8em;
}

div.dmNews dl {
	margin:0px;
}

div.dmNews dt {
	font-family:"Trebuchet MS", Tahoma, sans-serif;
}

div.dmNews dd {
	color:#d0d0d0;
	margin-left:2em;
}


/*************************** key-value table ***************************/

table.form {
	border-top:1px dotted #b0b0b0;
	border-bottom:1px dotted #b0b0b0;
	margin-bottom:1.5em;
	font-size:0.9em;
	width:100%;
}

table.form th {
	color:#f0f0f0;
	font-weight:normal;
	text-align:left;
	width:40%;
}

table.form td, table.form th {
	padding:0.6em;
}

table.form ul, table.form ol {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}

.odd {
	background-color:#656565;
}

/****************************** nested table ******************************/

table.nested td {
	padding:0px;
}

table.nested th {
	padding:0.3em;
}

table.nested th {
	background-color:#505050;
}

/****************************** columnar table ******************************/

table.columnar {
	border-top:1px dotted #b0b0b0;
	border-bottom:1px dotted #b0b0b0;
	margin-bottom:2em;
	font-size:0.9em;
	width:100%;
}

table.columnar th {
	background-color:#505050;
	color:#f0f0f0;
	font-weight:normal;
}


table.columnar td {
	padding:0.2em;
}

table.columnar th {
	padding:0.3em;
}

table.columnar tr.active {
	background-color:#807040;
}


/*************************** comments table ***************************/

table.comments {
	border-bottom:1px dotted #b0b0b0;
	margin-bottom:2em;
	font-size:0.9em;
	width:100%;
}

table.comments caption {
	background-color:#404040;
	border-top:1px dotted #b0b0b0;
	color:#f0f0f0;
	padding:0.3em;
	text-align:left;
}

table.comments caption input {
	margin:0em 0.5em 0em 0.3em;
	padding:0px;
	vertical-align:middle;
}

table.comments th {
	color:#f0f0f0;
	text-align:left;
	width:15%;
}

table.comments td, table.comments th {
	padding:0.2em;
}

/****************************** menu ******************************/

div#leftMenu {
	background-color:#404040;
	float:left;
	width:170px
}

div#leftMenu ul {
	font-family:"Trebuchet MS", Tahoma, sans-serif;
	font-weight:bold;
	line-height:1.6em;
	list-style-type:none;
	margin:0.5em 0em 0.5em 0.4em;
	padding:0em;
}

div#leftMenu ul li {
	font-family:"Trebuchet MS", Tahoma, sans-serif;
	font-weight:bold;
	line-height:1.2em;
	list-style-type:none;
	margin:0em 0em 0.5em 0.4em;
	padding:0em;
}

div#leftMenu ul ul {
	font-size:0.9em;
	font-weight:normal;
	margin-left:1.7em;
}

div#leftMenu li:before {
	padding:0em 0.3em 0em 0em;
}

div#leftMenu li.active {
	font-weight:bold;
	font-style:italic;
}

div#leftMenu .accordionButton {
	cursor:pointer;
}

div#leftMenu .accordionPanel {
	display:none;
}


/**************************** header & footer ****************************/

div#header {
	background-color:black;
	font-size:0.9em;
	padding:0.3em 0.5em 0.3em 0.5em;
}

div#header table {
	width:100%;
}

div#header h4 {
	color:#b0b0b0;
	margin:0em;
}

div#footer {
	background-color:black;
	clear:both;
	color:#606060;
	padding:0.5em;
	text-align:center
}

div#footer h6 {
	font-weight:normal;
	margin:0px;
}

/***************************** errors *********************************/

div.dmExceptionDebug dt {
	margin:1em 0em 1em 0em;
}

div.dmExceptionDebug dd {
	margin-left:2em;
}

/****************************** popup divs *******************************/

div.deleteTemplate {
	background-color:#656565;
	border:2px solid black;
	display:none;
	padding:0.4em;
	width:250px;
	overflow:visible;
	position:absolute;
	text-align:center;
	z-index:2;
}
