@media screen,print {

	div#dmMonocle {
		margin:0px;
		overflow:hidden;
		padding:0px;
		position:relative;
		z-index:20;
	}

	div#dmMonocle div#dmMonocleToolbar {
		background-image:url("../images/toolbar_gradient.png");
		background-position:0%;
		border-right:1px solid #a0a0a0;
		height:25px;
		margin:0px;
		padding:0px;
		position:relative;
		text-align:left;
		width:100%;
		z-index:15;
	}

	div#dmMonocle div#dmMonocleToolbar span#dmMonocleZoomSlider {
		margin:5px;
	}

	div#dmMonocle div#dmMonocleToolbar span.yui3-slider {
		margin-top:-17px;
	}

	div#dmMonocle div#dmMonocleToolbar input[type="image"] {
		margin:5px;
	}

	div#dmMonocle div#dmMonocleToolbar input[type="text"] {
		font-size:10px;
		height:12px;
		margin:-4px 10px 0px 5px;
		text-align:center;
		vertical-align:70%;
	}

	div#dmMonocle div#dmMonocleToolbar span.dmMonocleToolbarSeparator {
		width:5px;
	}

	div#dmMonocle div#dmMonocleToolbar input#dmMonocleZoomOutButton {
		margin-left:10px;
	}

	div#dmMonocle div#dmMonocleToolbar input#dmMonocleRotateClockwiseButton {
		margin-right:10px;
	}

	div#dmMonocle div#dmMonocleNavigator {
		background-color:black;
		cursor:auto;
		margin:0px;
		overflow:hidden;
		padding:0px;
		position:absolute;
		top:0px;
		z-index:10;
	}

	div#dmMonocle div#dmMonocleToolbarSpacer {
		height:25px;
	}

	div#dmMonocle div#dmMonocleNavigator #dmMonocleNavigatorPanLayer {
		background-color:#842020;
		border:1px solid #842020;
		cursor:move;
		filter:alpha(opacity=50); /** for IE */
		height:100%;
		opacity:0.5;
		width:100%;
		zoom:1; /** for IE opacity */
	}

	div#dmMonocle div#dmMonocleViewport {
		overflow:hidden;
		padding:0px;
		width:100%;
		height:100%;
	}

	div#dmMonocle div#dmMonocleViewport div#dmMonocleImageCanvas img.dmMonocleImageTile {
		display:block;
		opacity:0;
	}

}

@media print {

	div#dmMonocle {
		height:100%;
		width:100%;
	}

	div#dmMonocle div#dmMonocleToolbar, div#dmMonocle div#dmMonocleToolbarSpacer,
	div#dmMonocle div#dmMonocleNavigator {
		display:none;
	}

}
