body {
	font-family:"Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
	font-size:0.9em;
}

a {
	color:#842020;
	text-decoration:none;
}

.dmHighlightedTerm {
	background-color:yellow;
}

/********************* flash message ************************/

p.dmFlash {
	background-color:#f0f0f0;
	padding:0.3em;
}

p.dmFlash.dmSuccess {
	border:1px dotted green;
}

p.dmFlash.dmNeutral {
	border:1px dotted orange;
}

p.dmFlash.dmFailure {
	border:1px dotted red;
}
