body {
	background-color:white;
	color:#404040;
	font-family:Georgia, Palatino, "Book Antiqua", Times, "Times New Roman", serif;
	font-size:0.9em;
	margin:0px;
	padding:0px;
}

h1, h2, h3, h4, h5, h6 {
	font-family:Helvetica, Arial, sans-serif;
	letter-spacing:0.05em;
	margin:0.3em 0em 0.3em 0em;
	padding:0px;
}

h1 {
	font-size:1.5em;
}

a {
	color:#6080c0;
}

input[type = text], input[type = password], select, textarea {
	margin:0px;
	padding:0.2em;
}

fieldset {
	border:none;
	margin:0px;
	padding:0px;
}

legend {
	display:none;
}


.dmHighlightedTerm {
	background-color:yellow;
}

/** Layout */

div.content {
	padding:0.8em;
}

div.objectBox {
	border:1px dotted #d0d0d0;
	margin:0px 0px 1em 0px;
}

div.objectBox h4 {
	background-color:#e0e0e0;
	margin:0px;
	padding:0.3em 0.3em 0.3em 0.5em;
	text-shadow: 1px 1px 0px #ffffff;
}

/** Header & footer */

div#header, div#footer {
	background-color:#606060;
	color:#808080;
}

div#header a {
	color:#e0e0e0;
	text-decoration:none;
	text-shadow: 1px 1px 0px #202020;
}

div#header p {
	font-weight:bold;
	margin:0em;
}

table.nav {
	background-color:#404040;
	color:#b0b0b0;
	font-family:Helvetica, Arial, sans-serif;
	font-size:0.9em;
	font-weight:bold;
	width:100%;
}

table.nav a {
	color:#d0d0d0;
	text-decoration:none;
}

table.nav td {
	padding:0.4em;
}

div#footer {
	clear:both;
	color:#d0d0d0;
	text-align:center;
}

/********************* error view ************************/

div.dmExceptionDebug {
	background-color:#f0f0f0;
	border:1px dashed #a0a0a0;
	padding:0.8em;
}

/********************* flash message ************************/

p.dmFlash {
	padding:0.3em;
}

p.dmFlash.dmSuccess {
	border:1px dotted green;
}

p.dmFlash.dmNeutral {
	border:1px dotted orange;
}

p.dmFlash.dmFailure {
	border:1px dotted red;
}
