span.referenceURL {
	color:#d09050;
}

table.objectConsole {
	margin-top:0.5em;
	width:100%;
}

table.objectConsole td {
	padding:0em;
}

table.objectConsole input[type = radio] {
	margin-left:1em;
}

table.objectConsole td p {
	margin:0px;
}

div#leftcol {
	width:66%;
}

div#rtcol {
	width:34%;
	float:right;
}

/**
 * metadata
 */

div#metadata dl {
	line-height:1.5em;
	margin:0px;
}

div#metadata dt {
	font-weight:bold;
}

div#metadata dd {
	font-size:0.9em;
	margin-left:1.5em;
}

div#metadata dd ul {
	margin-left:1em;
	padding-left:0px;
}

/**
 * comments
 */

div.comments form ol {
	line-height:2.5em;
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}

div.comments textarea {
	width:98%;
}

table.dmComments {
	width:100%;
}

table.dmComments th {
	font-family:Helvetica, Arial, sans-serif;
	padding:0.3em;
	text-align:left;
}

table.dmComments th.dmCommentDate {
	color:#a0a0a0;
	font-weight:normal;
	text-align:right;
}

table.dmComments td {
	padding:0.3em;
	border-bottom:1px dotted #d0d0d0;
}

div.comments label {
	float:left;
	width:120px;
}

div.comments div.dmFormField {
	margin-left:120px;
}

textarea#dmCommentText {
	height:120px;
}

/**
 * compound object pages
 */

div#pages ol, div#moreResults ol, div#recentlyViewed ol {
	list-style-type:none;
	margin-left:0em;
	padding-left:0px;
}

div#pages li, div#moreResults li, div#recentlyViewed li {
	clear:left;
}

div#pages .dmThumbnail, div#moreResults .dmThumbnail {
	float:left;
	margin:0em 0.5em 1em 0em;
	width:60px;
}

div#pages div {
	max-height:300px;
	overflow:auto;
}

/**
 * more results
 */

div#moreResults img.dmThumbnail {
	width:50px;
}

div#moreResults li.dmCurrentResult {
	background-color:#ffffe0;
}

/**
 * tag cloud
 */
a.dmTag {
	text-decoration:none;
	margin-right:1em;
}

a.dmTag1 { font-size:0.7em; }
a.dmTag2 { font-size:0.8em; }
a.dmTag3 { font-size:0.9em; }
a.dmTag4 { }
a.dmTag5 { font-size:1.1em; }
a.dmTag6 { font-size:1.2em; }
a.dmTag7 { font-size:1.3em; }
a.dmTag8 { font-size:1.4em; }
a.dmTag9 { font-size:1.5em; }
a.dmTag10 { font-size:1.6em; }

/**
 * UNLVSpatial
 */
div.UNLVSpatialMapCanvas {
	height:400px;
}
