div#facets {
	float:left;
	padding-bottom:0.4em;
	width:190px;
}

div#facets ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}

div#facets li.dmFacetTitle {
	background-color:#e0e0e0;
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
	margin:0px;
	padding:0.4em 0.4em 0.4em;
	text-shadow: 1px 1px 0px #ffffff;
}

div#facets li.dmFacetTerm {
	margin-left:2em;
	padding:0.2em 0.4em 0em 0.4em;
	text-indent:-2em;
}

div#results {
	margin-left:200px;
}

table.dmResults {
	width:100%;
}

table.dmResults img.dmThumbnail {
	max-height:100px;
	max-width:100px;
}

table.dmResults tr td span.dmResultHasComments {
	content:url(/dmbridge/templates/clean_white/images/balloon-small.png);
}

table.dmResults tr td span.dmResultIsFavorite {
	content:url(/dmbridge/templates/clean_white/images/heart-small.png);
}

table.dmResults tr td span.dmResultIsURL {
	content:url(/dmbridge/templates/clean_white/images/arrow-000-small.png);
}

table.dmResults tr td span.dmResultViewMetadata {
	content:url(/dmbridge/templates/clean_white/images/blue-document-small-list.png);
}

table.dmResults tr td span.dmResultHasBeenRated {
	content:url(/dmbridge/templates/clean_white/images/star-small.png);
}

table.dmGridResults th {
	font-family:Helvetica, Arial, sans-serif;
	padding:0.4em;
	text-align:left;
}

table.dmGridResults td {
	padding:0.4em;
	border-top:1px dotted #d0d0d0;
}

table.dmListResults th {
	padding:0.4em;
	text-align:right;
	vertical-align:top;
}

table.dmListResults td {
	padding:0.4em;
	vertical-align:top;
}

table.dmTileResults {
	width:100%;
}

table.dmTileResults td {
	padding:0.8em;
	text-align:center;
}

.pageLinks {
	word-spacing:0.6em;
	text-align:center;
}

/**
 * UNLVSpatial
 */
div.UNLVSpatialMapCanvas {
	height:400px;
	margin:1em 0em 1em 0em;
}

/**
 Favorites
 */
div.dmRemoveFavorites {
	margin:0.5em;
}
