div.search ol, div.search ul {
	list-style-type:none;
	margin-left:0px;
	padding-left:0px;
}

div.search select, div.search input[type = text] {
	margin-bottom:0.4em;
}

h2 {
	margin-bottom:1em;
}

div.dmCheckAll {
	font-family:Helvetica, Arial, sans-serif;
	font-weight:bold;
}

div.dmCheckAll a:hover {
	cursor:pointer;
}

/**
 * UNLVSpatial
 */
div.UNLVSpatialMapCanvas {
	height:300px;
	width:500px;
}

/**
 * YUI 3 autocomplete styles
 */
.yui3-aclist { position: absolute; }
.yui3-aclist-hidden { visibility: hidden; }

.yui3-aclist-aria {
    /* Hide from sighted users, show to screen readers. */
    left: -9999px;
    position: absolute;
}

.yui3-aclist-list {
	background-color:white;
	border-top:2px solid #e0e0e0;
	border-left:2px solid #e0e0e0;
	border-bottom:2px solid #a0a0a0;
	border-right:2px solid #a0a0a0;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.yui3-aclist-item {
    cursor: pointer;
    list-style: none;
    padding: 2px 5px;
}

.yui3-aclist-item-active {
    outline: #afafaf dotted thin;
}