@media screen {

	div.DMPaginatedPDFViewer div#DMPaginatedPDFViewerToolbar {
		background-image:url(../../../viewers/DMPaginatedPDFViewer/images/toolbar_gradient.png);
		background-repeat:repeat-x;
		border-bottom:1px solid #b0b0b0;
		border-left:1px solid #d0d0d0;
		border-right:1px solid #b0b0b0;
		border-top:1px solid #d0d0d0;
		height:25px;
	}

	div.DMPaginatedPDFViewer div#DMPaginatedPDFViewerToolbar span.dmToolbarSeparator {
		border-right:1px dotted #c0c0c0;
		display:inline-block;
		height:20px;
		margin:2px 8px 0px 8px;
		vertical-align:top;
		width:1px;
	}
	
	div.DMPaginatedPDFViewer div#DMPaginatedPDFViewerToolbar input {
		margin:0px 5px 0px 5px;
	}

	div.DMPaginatedPDFViewer div#DMPaginatedPDFViewerToolbar input[type=image] {
		margin:5px;
	}

	div.DMPaginatedPDFViewer div#DMPaginatedPDFViewerToolbar span.dmToolbarGroup {
		font-family:sans-serif;
		font-size:12px;
		margin:-4px 5px 0 5px;
		vertical-align:70%;
	}

	div.DMPaginatedPDFViewer div#DMPaginatedPDFViewerToolbar span.dmToolbarGroup input[type=text] {
		font-size:10px;
		height:10px;
		margin-left:0px;
		text-align:center;
	}

	div.DMPaginatedPDFViewer div#DMPaginatedPDFViewerToolbar .disabled {
		opacity:0.4;
	}

}
