html {
	margin:0px;
	padding:0px;
}

body {
	font-family:"Lucida Grande", "Trebuchet MS", Helvetica, sans-serif;
	font-size:0.9em;
	margin:0px;
	padding:0px;
}

div.calloutlist table, div.navfooter table, div.note table, div.caution table, div.warning table {
	font-size:0.9em;
}

div.calloutlist table {
	font-style:italic;
}

a {
	color:#842020;
	font-weight:bold;
}

hr {
	display:none;
}

/*********************** header **********************/

div.navheader {
	background-color:#842020;
	padding:0.6em;
}

div.navheader table, div.navheader a {
	color:white;
}

div.navheader a {
	font-size:0.9em;
}

/*********************** footer **********************/

div.navfooter {
	background-color:#606060;
	margin-top:1em;
	padding:0.6em;
}

div.navfooter table, div.navfooter a {
	color:white;
}

div.navfooter a {
	font-size:0.9em;
}

/************************ body ***********************/

div.book, div.part, div.chapter, div.sect1 {
	margin:0em 1em 0em 1em;
}

/************************* TOC ***********************/

div.toc, div.list-of-figures {
	font-size:0.9em;
}

div.toc dl {
	margin:0;
	padding:0;
}

div.toc dd {
	margin:0em 0em 0em 2.5em;
	padding:0;
}

div.toc dt {
	margin:0.3em;
	padding:0;
}

/************************ notes **********************/

div.note, div.caution, div.warning {
	margin:0.8em 0em 0.8em 0em;
}

div.note {
	background-color:#f0f0ff;
	border:1px dotted blue;
}

div.caution {
	background-color:#ffffd0;
	border:1px dotted orange;
}

div.warning {
	background-color:#ffe0e0;
	border:1px dotted #800000;
}

/************************ code ***********************/

code {
	color:#606060;
}

code.classname, code.interfacename {
	color:#606040;
	font-family:"Lucida Grande", "Trebuchet MS", Helvetica, sans-serif;
}

pre.programlisting {
	background-color:#f0f0f0;
	border:1px dotted #505050;
	padding:1em;
}

span.command, span.markup {
	font-family:monospace;
}

/********************** figures **********************/

div.figure p.title {
	text-align:center;
}

div.mediaobject img {
	display:block;
	margin-left: auto;
    	margin-right: auto;
}
